.message {
    font-weight: 600;
    color: rgb(255, 0, 208);
}
.navbar {
    background-color: rgb(92, 180, 235);
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 12px 6px 6px 6px;
}

.navbar a {
    text-decoration: underline dotted;
    color: #040404;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 50px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
