<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create Store</title>
    </head>
    <body>
        <h2>Create a New Store</h2>
        <form action="/stores/create"> 
            <label for="id">Id:</label><br> 
            <input type="text" id="id" name="id"><br> 

            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br> 

            <label for="address">Address:</label><br>
            <input type="text" id="address" name="address"><br><br>

            <label for="latitude">Latitude:</label><br>
            <input type="number" step="any" id="latitude" name="latitude"><br>

            <label for="longitude">Longitude:</label><br>
            <input type="number" step="any" id="longitude" name="longitude"><br><br>


            <label for="image">Image:</label><br>
            <input type="text" id="color" name="color"><br>

            <label for="url">Url:</label><br>
            <input type="url" id="url" name="url"><br>

            <label for="telephone">Telephone:</label><br> 
            <input type="tel" id="telephone" name="telephone"><br> 

            <label for="countryCode">Country Code:</label><br>
            <input type="text" id="countryCode" name="countryCode" maxlength="2"><br>

            <label for="capacity">Capacity (in cubic metres):</label><br>
            <input type="number" id="capacity" name="capacity"><br>

            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description"><br>

            <label for="temperature">Temperature:</label><br>
            <input type="number" id="temperature" name="temperature"><br>

            <label for="relativeHumidity">Relative humidity:</label><br>
            <input type="number" id="relativeHumidity" name="relativeHumidity"><br><br>

            <input type="submit" value="Create Store">
            <input type="reset" value="Cancel">
        </form> 
    </body>
</html>