<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create Store</title>
    </head>
    <body>
        <h2>Create a New Store</h2>
        <form action="/stores/create"> 
            <label for="id">Id:</label><br> 
            <input type="text" id="id" name="id" pattern="^urn:ngsi-ld:Store:\d+" placeholder="urn:ngsi-ld:Store:<number_id>" required><br> 

            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br> 

            <label for="address">Street Address:</label><br>
            <input type="text" id="streetAddress" name="streetAddress" required><br>

            <label for="region">Region:</label><br>
            <input type="text" id="region" name="region" required><br>

            <label for="locality">Locality:</label><br>
            <input type="text" id="locality" name="locality" required><br>

            <label for="code">Postal Code:</label><br>
            <input type="number" id="code" name="code" required><br>

            <label for="latitude">Latitude:</label><br>
            <input type="number" step="any" id="latitude" name="latitude" placeholder="e.g.: 32.565" pattern="\d{1,2}\.\d+" required><br>

            <label for="longitude">Longitude:</label><br>
            <input type="number" step="any" id="longitude" name="longitude" placeholder="e.g.: 56.123" pattern="\d{1,2}\.\d+" required><br>

            <label for="image">Image:</label>
            <input type="file" style="width: 40%;" id="image" name="image" accept="image/*" required><br>

            <label for="url">Url:</label><br>
            <input type="url" id="url" name="url"><br>

            <label for="telephone">Telephone:</label><br> 
            <input type="tel" id="telephone" name="telephone" required><br> 

            <label for="countryCode">Country Code:</label><br>
            <input type="text" id="countryCode" name="countryCode" maxlength="2"><br>

            <label for="capacity">Capacity:</label><br>
            <input type="number" id="capacity" name="capacity" placeholder="m3"><br>

            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description"><br>

            <label for="temperature">Temperature:</label><br>
            <input type="number" id="temperature" name="temperature" step="1" min="-10" max ="45"><br>

            <label for="relativeHumidity">Relative humidity:</label><br>
            <input type="number" id="relativeHumidity" name="relativeHumidity"><br><br>

            <input type="submit" value="Create Store">
            <input type="reset" value="Cancel">
        </form> 
    </body>
</html>