<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create Product</title>
    </head>
    <body>
        <h2>Create a New Product</h2>
        <form action="/stores/create"> 
            <label for="id">Id:</label><br> 
            <input type="text" id="id" name="id"><br> 
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br> 
            <label for="size">Size:</label><br>
            <input type="text" id="size" name="size"><br>
            <label for="price">Price:</label><br> 
            <input type="number" id="price" name="price"><br>
            <label for="color">Color:</label><br>
            <input type="text" id="color" name="color"><br>
            <label for="image">Image:</label><br>
            <input type="text" id="image" name="image"><br><br>
            <input type="submit" value="Submit">
            <input type="reset" value="Cancel">
        </form> 
    </body>
</html>
