{% extends 'layout.html' %}

{% block title %}Employee{% endblock %}

{% block content %}
    {% set id_items = employee.id.split(':') %}
        <p>
            Employee ID: {{id_items[3]}}<br>
            Name: {{employee.name.value}}<br>
            Category: {{employee.category.value}}<br>
            Email: {{employee.email.value}}<br>
            Ref Store: {{employee.refStore.value}}<br>
            Date of Contract: {{employee.dateOfContract.value}}<br>
            Salary: {{employee.salary.value}}<br>
            Skills: {{employee.skills.value}}<br>
            Username: {{employee.username.value}}
        </p>
{% endblock %}